name: Validate new services

on:
    pull_request:
        branches: [develop]

jobs:
    validate:
        if: startsWith(github.event.pull_request.title, 'add_service:')
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
            - run: npm ci
            - run: npm run test -- --run
            - run: npm run validate-services
